@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Navbar Styling */
body {
    margin: 0;
    padding: 0;
    background-color: #04324D; /* Dark Blue */
    font-family: "Poppins", serif;
    font-style: normal;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    background-color: transparent; /* Matches Figma */
}

.logo {
    font-size: 32px;
    font-weight: bold;
}
.logo a{
    text-decoration: none;
    color: white;
    transition: color 0.5s ease-in-out;
}

.logo a:hover{
    color: rgb(223, 184, 58);
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 25px;
}

.nav-links li {
    display: inline-block;
}

.nav-links a {
    text-decoration: none;
    color: white;
    padding: 8px 20px;
    border-radius: 6px;
    transition: all 0.5s ease-in-out, color 0.3s ease-in-out;
}

/* Smooth Hover Effect */
.nav-links a:hover {
    background-color: white;
    color: #04324D;
    /* font-weight: bold; */
}


/* Active Class (For Click Effect) */
.nav-links a.active {
    background-color: white;
    color: #04324D;
    /* font-weight: bold; */
}



/* Bill Processing Form */

.form-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 600px;
    margin: 0 auto;
}
.form-container h2 {
    margin-bottom: 10px;
    font-size: 24px;
    color: #333;
}
.form-group {
    margin-bottom: 15px;
}
.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
}
.form-group input, .form-group select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}


/* For Subbmit Button */
.form-group input[type="submit"] {
    background-color: #28a745;
    color: white;
    border: none;
    cursor: pointer;
}
.form-group input[type="submit"]:hover {
    background-color: #218838;
}